@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #af1b1b;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  background: rgb(30, 30, 30);
  box-sizing: border-box;
  touch-action: manipulation;
}

::selection {
  color: white;
  background: var(--red);
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 50);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 45, 45);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(40, 40, 40);
}

input {
  border: var(--red) 2px solid;
  background: none;
  border-radius: 4px;
  padding: 0 4px;
  user-select: none;
  outline: none;
  outline: none;
}

input:focus {
  border: 2px solid white;
}

button {
  user-select: none;
  transition: 0.2s;
  cursor: pointer;
}

@media (hover: hover) {
  button:hover {
    opacity: 90%;
  }
}

button:active {
  opacity: 70%;
}

button:disabled {
  opacity: 50%;
  pointer-events: none;
}

.holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}

.screen {
  display: grid;
  place-items: center;
  height: calc(100vh - 50px);
  overflow: auto;
}

.screen__inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  max-width: 80vw;
}

.short-text {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  position: absolute;
  z-index: -1;
  fill: rgb(43, 43, 43);
  transform: translate(-40px);
  max-height: 500px;
  user-select: none;
}

@media (max-width: 600px) {
  .icon {
    transform: translate(-20px);
  }
}

@media (max-width: 400px) {
  .short-text {
    max-width: 150px;
  }
}
